/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background gelap */
body {
  min-height: 100vh;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("bg.jpg") no-repeat center center / cover;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* Card utama */
.container {
  background: #020617;
  width: 100%;
  max-width: 520px;
  padding: 32px 36px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
  text-align: center;
  border: 1px solid #1e293b;
}

/* Judul */
h1 {
  font-size: 22px;
  margin-bottom: 26px;
  color: #ffadad;
}

/* Highlight Web3 */
.web3 {
  color: #d01d59;
  font-weight: bold;
}

/* Subjudul */
h2 {
  font-size: 17px;
  margin: 26px 0 16px;
  color: #ffadad;
}

/* Tombol */
button {
  padding: 10px 18px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #f22e9d, #f91818);
  color: #ffffff;
  cursor: pointer;
  margin-top: 12px;

  /* animasi */
  transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    opacity 0.2s ease;
}

button:hover {
  transform: scale(1.06);
  box-shadow: 0 10px 25px rgba(242, 46, 157, 0.45);
  opacity: 0.95;
}

/* Input */
input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: #e5e7eb;
}

input::placeholder {
  color: #64748b;
}

/* Section info */
#walletInfo,
#nftInfo {
  margin-top: 22px;
  text-align: left;
}

/* Baris info */
#walletInfo p,
#nftInfo p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #e5e7eb;
}

/* Garis pemisah */
hr {
  margin: 32px 0;
  border: none;
  border-top: 1px solid #1e293b;
}
